.about_banner {
  background: url(/images/about-banner.png);
  @include bg;
  padding: 7rem 0;
  .cntnt {
    p {
      @include flex($justify: center);
      column-gap: 1rem;
      margin-bottom: 0;
      a {
        font-family: "Bold";
        color: $black;
      }
    }
  }
}
.sec_heading {
  margin-bottom: 2rem;
}
.mission_vision_sec {
  .flex {
    .colL {
      width: 50%;
      padding-right: 1rem;
      align-self: center;
      @include ipad_sm {
        width: 100%;
        padding-right: 0;
      }
      .mission_vision_flex {
        @include flex;
        column-gap: 2rem;
        margin: 2rem 0;
        @include mobile_sm {
          flex-direction: column;
        }
        .col {
          flex: 1;
          h4 {
            position: relative;
            margin-bottom: 1.5rem;
            padding-left: 3rem;
            &:before {
              @include pos($r: null, $t: 0.2rem);
              content: "";
              background: url(/images/arrow-right.svg);
              @include bg(contain);
              width: 2.3rem;
              height: 2.3rem;
            }
          }
        }
      }
    }
    .colR {
      width: 50%;
      padding-left: 1rem;
      @include ipad_sm {
        width: 100%;
        padding-left: 0;
        margin-top: 2rem;
      }
      .image {
        @include img(80%);
        box-shadow: none;
        @include radius(0);
        background-color: transparent;
        img {
          @include pos;
          @include object(contain);
        }
      }
    }
  }
}

.counter_sec {
  background-color: $color3;
  .flex {
    margin: -3rem;
    @include ipad_sm {
      margin: -1rem;
    }
    .col {
      flex: unset;
      width: 25%;
      padding: 3rem;
      @include ipad_sm {
        padding: 1rem;
      }
      @include mobile_md {
        width: 50%;
      }
      .inner {
        @include radius(20px);
        padding: 3rem 2rem;
        text-align: center;
        background-color: rgba($light, 0.2);
        h1,
        p {
          color: $light;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

.history_sec {
  .flex {
    .colL {
      width: 50%;
      padding-right: 1rem;
      @include ipad_sm {
        width: 100%;
        padding-right: 0;
      }
      .image {
        @include img(100%);
        box-shadow: none;
        @include radius(0);
        background-color: transparent;
        img {
          @include pos;
          @include object(contain);
        }
      }
    }
    .colR {
      width: 50%;
      padding-left: 1rem;
      align-self: center;
      @include ipad_sm {
        width: 100%;
        padding-left: 0;
        margin-top: 2rem;
      }
      .btn_blk {
        margin-top: 3rem;
      }
    }
  }
}

.team_section {
  background: url(/images/team-bg.png);
  @include bg;
  .cntnt {
    max-width: 50rem;
    margin: 0 auto 3rem;
  }
  .team_slider {
    .item {
      .inner {
        @include radius(25px);
        padding: 3rem;
        text-align: center;
        background-color: rgba($light, 0.7);
        border: 1px solid rgba($color3, 0.2);
        margin: 0 1.5rem 2rem;
        .img_icon {
          width: 20rem;
          height: 20rem;
          margin: 0 auto 2rem;
          @include radius(50px);
          overflow: hidden;
          img {
            @include object;
          }
        }
        .social_logon {
          justify-content: center;
          margin-top: 1rem;
          a {
            background-color: #22a1d9;
            width: 3rem;
            height: 3rem;
            overflow: hidden;
            padding: 0.5rem;
            @include radius(50px);
          }
        }
      }
    }
  }
}

.job_list_sec {
  .cntnt {
    @include flex;
    margin-bottom: 4rem;
    h2 {
      flex: 1;
      margin-bottom: 0;
    }
  }
  .btn_blk {
    // margin-top: 3rem;
  }
}
// ============job_lst============

.job_lst {
  .inner_job_list {
    background-color: $light;
    @include radius(10px);
    padding: 2rem;
    @include flex;
    gap: 1.5rem;
    box-shadow: $shadow2;
    @include mobile_md {
      flex-direction: column;
    }
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    .job_icon {
      width: 13rem;
      height: 13rem;
      @include radius(50px);
      overflow: hidden;
      img {
        @include object;
      }
    }
    .job_info {
      flex: 1;
      ul {
        @include list;
        @include flex;
        gap: 2rem;
        margin: 1.5rem 0;
        @include mobile {
          flex-wrap: wrap;
        }
        li {
          position: relative;
          @include flex;
          gap: 0.4rem;
          img {
            width: 2rem;
            height: 2rem;
          }
          span {
            flex: 1;
          }
        }
      }
      p {
        margin-bottom: 0;
      }
      h4 {
        a {
          span {
            font-size: 1.1rem;
            color: $color3;
            background-color: rgba($color3, 0.3);
            padding: 0.4rem 1rem;
            @include radius(3px);
            margin-left: 1rem;
          }
        }
      }
    }
  }
}

.trusted_companies_sec {
  background: url(/images/trusted-bg.png);
  @include bg;
  .btn_blk {
    justify-content: center;
    margin-top: 52px;
  }
  .cntnt {
    max-width: 60rem;
    margin: 0 auto 3rem;
  }

  .trusted_slider {
    .item {
      .inner {
        background-color: rgba($light, 0.7);
        border: 1px solid rgba($color3, 0.2);
        margin: 0 1rem 2rem;
        @include radius(10px);
        overflow: hidden;
        height: 10rem;
        padding: 1rem;
        img {
          @include object(contain);
        }
      }
    }
  }
}

.choose_sec {
  .flex {
    .colL {
      width: 35%;
      padding-right: 1rem;
      @include ipad_sm {
        width: 100%;
        padding-right: 0;
      }
      .image {
        @include img(130%);
        box-shadow: none;
        @include radius(0);
        background-color: transparent;
        img {
          @include pos;
          @include object(contain);
        }
      }
    }
    .colR {
      width: 65%;
      padding-left: 1rem;
      @include ipad_sm {
        width: 100%;
        padding-left: 0;
        margin-top: 2rem;
      }
      .inner_flex {
        @include flex;
        gap: 2rem;
        margin-top: 2rem;
        @include mobile_md {
          flex-direction: column;
        }
        .col {
          .inner {
            @include radius(20px);
            text-align: center;
            padding: 4.5rem;
            background: linear-gradient(45deg, white, #eef8fc);
            height: 100%;
            box-shadow: $shadow2;
            @include flex(center, center);
            flex-direction: column;
            p {
              margin-bottom: 0;
            }
          }
        }
      }
      .btn_blk {
        margin-top: 1rem;
      }
    }
  }
}

// ============================================pricing_sec=========

.pricing_sec {
  .cntnt {
    max-width: 100rem;
    margin: 0 auto 3rem;
    p {
      max-width: 70rem;
      margin: 0 auto;
    }
  }
  .flex {
    margin: -2rem;
    .col {
      padding: 2rem;
      flex: unset;
      width: calc(100% / 3);
      @include ipad_sm {
        width: 50%;
      }
      @include mobile_md {
        width: 100%;
      }
      .inner {
        background: $light;
        @include radius(30px);
        padding: 4rem;
        text-align: center;
        border: 1px solid rgba($color3, 0.6);
        @include trans;

        ul {
          @include list;
          margin: 2rem 0 3rem;
          li {
            margin-bottom: 1rem;
          }
        }
        .btn_blk {
          .site_btn {
            background: $color3;
            border-color: $color3;
          }
        }
        .icon {
          width: 13rem;
          height: 13rem;
          @include radius(50%);
          background-color: $light;
          @include flex(center, center);
          margin: 0 auto 3rem;
          box-shadow: 0px 0px 13px 0px rgba(34, 161, 217, 0.6);
          .inner_icon {
            width: 10rem;
            height: 10rem;
            @include radius(50%);
            overflow: hidden;
            background-color: $light;
            box-shadow: 0px 0px 13px 0px rgba(34, 161, 217, 0.6);
            padding: 0.5rem;
            img {
              @include object(contain);
            }
          }
        }
        h1,
        p,
        li,
        h4 {
          @include trans;
        }
        &:hover {
          @include trans;
          background-color: $color3;
          h1,
          p,
          li,
          h4 {
            color: $light;
            @include trans;
          }
          .btn_blk {
            .site_btn {
              background-color: $light;
              border-color: $light;
              color: $color3;
            }
          }
        }
      }
    }
  }
}

.integration_sec {
  background: url(/images/bg-bg.png);
  @include bg;
  .cntnt {
    @include flex;
    margin-bottom: 4.5rem;
    @include mobile {
      flex-direction: column;
    }
    h2 {
      flex: 1;
      margin-bottom: 0;
      padding-right: 30rem;
      @include ipad {
        padding-right: 1rem;
      }
      @include mobile {
        padding-right: 0;
        margin-bottom: 1rem;
      }
    }
    .btn_blk {
      align-self: center;
      @include mobile {
        display: none;
      }
    }
  }
  .flex {
    margin: -1rem;
    .col {
      flex: unset;
      padding: 1rem;
      width: 30%;
      @include ipad {
        width: calc(100% / 3);
      }
      @include ipad_sm {
        width: calc(100% / 2);
      }
      @include mobile_sm {
        width: 100%;
      }
      &:nth-child(3) {
        width: 40%;
        @include ipad {
          width: calc(100% / 3);
        }
        @include ipad_sm {
          width: calc(100% / 2);
        }
        @include mobile_sm {
          width: 100%;
        }
      }
      &:nth-child(4) {
        width: 40%;
        @include ipad {
          width: calc(100% / 3);
        }
        @include ipad_sm {
          width: calc(100% / 2);
        }
        @include mobile_sm {
          width: 100%;
        }
        .inner {
          margin-left: auto;
        }
      }
      .inner {
        @include radius(50px);
        background-color: $light;
        border: 1px solid rgba($color3, 0.3);
        @include flex;
        column-gap: 1rem;
        padding: 1rem;
        width: 35rem;
        @include ipad {
          width: 100%;
        }
        .icon {
          width: 7rem;
          height: 7rem;
          overflow: hidden;
          @include radius(50%);
          align-self: center;
          img {
            @include object(contain);
          }
        }
        .txt {
          flex: 1;
          align-self: center;
          h5 {
            margin-bottom: 0.5rem;
          }
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.job_list_sec {
  .ck_editor {
    ul {
      @include list;
      li {
        position: relative;
        padding-left: 3rem;
        margin-bottom: 1rem;
        &:before {
          @include pos($r: null);
          content: "";
          background: url(/images/green_check.svg);
          @include bg(contain);
          width: 2rem;
          height: 2rem;
        }
      }
    }
    a {
      color: $color;
    }
    h4,
    h5,
    h6,
    h3 {
      margin-bottom: 1.5rem;
    }
  }
}

// ==============logon_sec==========

.logon_sec {
  .form_logon {
    @include radius(20px);
    padding: 5rem;
    max-width: 70rem;
    margin: 0 auto;
    box-shadow: 0 0.7rem 3.5rem -0.5rem rgb(33 150 243 / 37%),
      0 -0.5rem 1rem -0.6rem rgba(0, 0, 0, 0.1);
    @include mobile_sm {
      padding: 3rem;
    }
    .logo_form {
      max-width: 25rem;
      height: 10rem;
      overflow: hidden;
      margin: 0 auto 2rem;
      img {
        @include object(contain);
      }
    }
    .txtGrp {
      margin-bottom: 1.5rem;
      .input {
        border-color: rgba($color3, 0.3);
        box-shadow: 0 0 1rem 0rem rgb(33 150 243 / 13%);
      }
    }
    .lbl_btn {
      label {
        color: #585858;
      }
    }
    .flex {
      @include mobile_sm {
        flex-direction: column;
      }
      .lbl_btn {
        flex: 1;
        margin: 0;
      }
      a {
        color: $color;
        text-align: right;
        margin-top: 1rem;
      }
    }
    p {
      a {
        color: $color;
      }
    }
    .btn_blk {
      margin: 2rem 0;
    }
  }
}
